@import "tailwindcss";

@theme {
  --color-bg:    #0E0F11;   /* background */
  --color-panel: #16181B;   /* panel card */
  --color-line:  #2A2E33;   /* border */
  --color-ink:   #E8EAED;   /* teks utama */
  --color-muted: #8A9099;   /* teks sekunder */
  --color-blade: #DC2626;   /* aksen merah */
}
